
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-image: url(./images/Ellipse\ 4.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-position-x: 0px;
}



header {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}

header span img.logo {
    width: 170px;
}

header nav a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-size: 14px;
    padding: 10px 28px;
    border: 1.5px solid;
    border-radius: 20px;
    border-color: transparent;
}

header nav a:hover {
    border-color: #a3a3a3;
 }

 header a.contact {
    text-decoration: none;
    background-color: black;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 19px;
    color: #fff;
    border-radius: 37px;
}

header a.contact img {
    width: 16px;
}






/*TOP BANNER SECTION START*/




    .white-layer {
        width: 100%;
        height: 100%;
        border: 1px solid;
        z-index: 2;
        background: #ffffff80;
        position: absolute;
        filter: blur(214px);
    }


    #gradientbox {
        display: flex ;
            align-items: center;
            justify-content: center;
            width: 79%;
            height: 65%;
            color: white;
            font-family: 'Raleway';
            font-size: 2.5rem;
            transform: rotate(22deg) skew(44deg);
            margin-left: 12%;
            margin-top: -10%;
            filter: blur(80px);
       
    }

    .gradi-border_outter {
        display: flex;
        justify-content: center;
        height: 94vh;
        align-items: center;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100vw;
        height: 100%;
        z-index: -1;
    }
    
     
    .gradient-border {
      --borderWidth: 5px;
      background: #fff;
      position: relative;
      border-radius: 5%;
     
    }
    .gradient-border:after {
      content: '';
      position: absolute;
      top: calc(-1 * var(--borderWidth));
      left: calc(-1 * var(--borderWidth));
      height: calc(100% + var(--borderWidth) * 2);
      width: calc(100% + var(--borderWidth) * 2);
      background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
      border-radius:5%;
      z-index: -1;
      animation: animatedgradient 3s ease alternate infinite;
      background-size: 300% 300%;
    }
    
    
    @keyframes animatedgradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    




    section {
        width: 80%;
        margin: auto;
    }
    
    .top_Banner .sub_texts {
        display: flex;
        column-gap: 20%;
        align-items: end;
    }
    
    .top_Banner .sub_texts div:first-child {
        width: 300px;
    }
    
    .top_Banner .sub_texts div:nth-child(2) {
        width: 450px;
    }
    
    .top_Banner .sub_texts div:first-child p {
        font-weight: 600;
        font-size: 17px;
    }
    
    .top_Banner .main_text h1 {
        font-size: 6.5rem;
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight:600;
      }



      .top_Banner .sub_texts div:nth-child(2) .btn_group {
        display: flex;
        align-items: center;
        column-gap: 8px;
    }
    
    .top_Banner .sub_texts div:nth-child(2) .btn_group img {
        width: 26px;
    }
    
    .top_Banner .sub_texts div:nth-child(2) .btn_group a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
        column-gap: 6px;
        background-color: antiquewhite;
        padding: 10px 20px;
        border-radius: 39px;
    }
    
    .top_Banner .sub_texts div:nth-child(2) .btn_group a.explore {
        background-color: #000;
        color: #fff;
    }
    
    .top_Banner .sub_texts div:nth-child(2) .btn_group a.book {
        background-color: #fff;
        color: #000;
        font-weight: bold;
    }
    
    .top_Banner .sub_texts div:nth-child(2) p {
        font-size: 15px;
        line-height: 1.7;
    }

    section.top_Banner {
        padding-bottom: 12%;
       
    }

    .top_Banner .sub_texts div:nth-child(2) .btn_group a.book img {

        animation: rotate 2s linear infinite; 
    }

    @keyframes rotate {
        0%{
           transform: rotate(0deg);
          }
       100%{
           transform: rotate(-360deg);
          }
       }

    /*TOP BANNER SECTION END*/



    section.second_section {
        padding-top: 6%;
        height: 64rem;
    }
    
   .second_section .main_text h1 {
        font-size: 5rem;
        font-weight: 600;
        margin-bottom: 110px;
    }


    section.second_section .hover-animated-section {
        width: 50%;
        float: left;
    }
    
    section.second_section aside.right-side {
        width: 50%;
        float: right;
    }
    
    section.second_section .hover-animated-section .side .outer {
        display: flex;
        column-gap: 36px;
    }
    
    section.second_section .hover-animated-section .side .outer .inner.inner-1 {
        width: 35px;
    }

    section.second_section .hover-animated-section .side .outer .inner.inner-2 img {
        width: 40px;
    }
    
    section.second_section .hover-animated-section .side .outer .inner.inner-2  h4.inner_headline {
        margin-top: 4px;
        margin-bottom: 6px;
    }
    
    section.second_section .hover-animated-section .side .outer .inner.inner-2 {
        width: 325px;
        padding-bottom: 30px;
    }
    
    section.second_section .hover-animated-section .side .outer .inner.inner-2 p.inner_description {
        font-size: 14px;
        color: #4d4b4b;
    }

    section.second_section .hover-animated-section .side .outer .inner.inner-1 h2 {
        color: #cdcbcb;
    }
    
    section.second_section .hover-animated-section .side .outer .inner.inner-1 {
        border-right: 2px solid #cdcbcb;
        padding-right: 50px;
    }
    
    section.second_section .hover-animated-section .side:hover .outer .inner.inner-1 {
        border-image: linear-gradient(184deg, #e91ed8, #b417c3, #b173f7, #8c5afd) 1;
    }
    
    section.second_section .hover-animated-section .side:hover .outer .inner.inner-2 h4.inner_headline {
         background: -webkit-linear-gradient(86deg, #e91ed8, #b417c3, #7b34cb, #1d24eb);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
    }
    
    section.second_section .hover-animated-section .side:hover .outer .inner.inner-1 h2 {
        color: #000;
    }
    
    section.second_section .hover-animated-section .side:hover {
        cursor: pointer;
    }

    .right-side .container {
        background-color: #fff;
        padding-left: 4%;
        padding-top: 2%;
        border-radius: 17px 0px 0px 17px;
    }
    
    section.second_section aside.right-side {
        padding: 4%;
        width: 44%;
        padding-right: 0px;
        background: rgb(213, 30, 177);
    background: linear-gradient(4deg, rgb(233 100 207) 0%, rgba(196, 191, 196, 1) 44%, rgba(231, 231, 231, 1) 68%);
    border-radius: 20px 0px 0px 20px;
    padding-bottom: 7%;
    overflow: hidden;
    }
    
    .right-side .container .outer_sec .line ul {
        display: flex;
        padding-left: 0px;
        list-style: none;
        column-gap: 30px;
        font-size: 12px;
        color: #4f4e4e;
    }

    .right-side .under_section .box_1 {
        width: 130px;
        padding: 8px 20px;
        border-radius: 17px;
        box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
        margin-right: 10px;
        background-color: #fff;
    }
    
    .right-side .under_section .box_1>div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .right-side .under_section .box_1>div img {
        width: 40px;
        height: 40px;
    }
    
    .right-side .under_section .box_1 h2.header {
        font-size: 11px;
        font-weight: 500;
    }
    
    .right-side .under_section .box_1>div p {
        font-size: 36px;
        font-weight: 700;
        margin: 0px;
    }
    
    .right-side .container .outer_sec {
        margin-bottom: 52px;
    }
    
    .right-side .container .outer_sec h4.headline {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
    }

    .right-side .under_section {
        display: flex;
        position: relative;
        top: 44px;
        width: 558px;
    }

    footer {
        background-color: #1F2023;
        padding: 50px;
    }
    
    footer  .container .links ul li {
        display: inline-block;
        list-style: circle;
        padding-left: 14px;
        padding-right: 14px;
        color: #fff;
        font-size: 14px;
    }
    
   
    footer  .container .links {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 58px;
    }
    
    footer .container .logo {
        display: flex;
        justify-content: center;
        margin-bottom: 43px;
    }
    
    footer .container .logo img {
        width: 200px;
    }
    
    footer  article {
        width: 32%;
        margin: auto;
    }
    
    footer article p {
        text-align: center;
        color: #737373;
        line-height: 1.7;
    }

    footer .email_area input[type="text"] {
        height: 77px;
        font-size: 5rem;
        width: 688px;
        background-color: transparent;
        border: none;
    }
    
    footer .email_area label.field {
        display: flex;
        align-items: center;
        border-bottom: 2px solid #CC41E4;
        padding-bottom: 30px;
        width: 64%;
        margin: auto;
        margin-top: 60px;
    }
    
    footer .email_area label.field img {
        width: 38px;
        padding: 20px;
        border: 1px solid #ffffff36;
        border-radius: 50%;
    }
    
    footer .email_area input[type="text"]::placeholder {
        color: #e9e7e729;
    }
    
    footer .email_area {
        margin-bottom: 36px;
    }


    @media screen and (max-width: 1400px){
        body {
         background-position-y: 169px;
     }  
         
     }  